# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.DS_Store
/internals
tsconfig.tsbuildinfo

#Agents
.agents
.opencode
.swc
skills-lock.json
AGENTS.md

# Yarn files
/yarn.lock
yarn.lock
/yarn-error.log
yarn-error.log
/yarn-error.*.log



